<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
</head>
<body>

    <h2>Logowanie</h2>
    <form action="/auth/login" method="post">
        {{ form.hidden_tag() }}
        <input type="hidden" name="email" value='{{ email }}'>
        <div>
            {{ pass_chars[0] }}:
            {{ form.password_ch1(size=1) }}
            {{ pass_chars[1] }}:
            {{ form.password_ch2(size=1) }}
            {{ pass_chars[2] }}:
            {{ form.password_ch3(size=1) }}
            {{ pass_chars[3] }}:
            {{ form.password_ch4(size=1) }}
        </div>
        <br>
        {{ form.submit() }}
    </form>

</body>
</html>