<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <a href="register">Rejestracja</a>
    <h2>Logowanie</h2>
    <form action="/password" method="post">
        {{ form.hidden_tag() }}
        <label for="{{ form.email.id }}">{{ form.email.label.text }}</label>
        {{ form.email(size=20) }}
        <br>
        {{ form.submit() }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>

</body>
</html>